@import '../../../../../styles/icon';
@import '../../../../../styles/layout';
@import '../../../../../styles/color';
@import '../../../../../styles/font';
@import '../../../../../styles/controls';

.controls {
  @include controls();

  .publish {
    display: flex;

    .publishCheckbox {
      flex-shrink: 2;
    }

    .datePickerContainer {
      flex-grow: 2;
    }

    .datePickerInput {
      text-align: center;
    }
  }
}
