@import 'src/styles/page';

.container {
  @include pageContainer();
}
.content {
  @include pageContent();

  .image {
    width: 100%;
    margin-top: 3rem;
  }

  > section {
    padding-top: 2rem;
  }

  .socialMediaContainer {
    justify-content: center;
    padding-top: 1rem;
    .socialMediaLink {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      margin: 1rem;
      background-color: black;
      border-radius: 100%;

      img {
        transition: filter $animation-fast $cubic-spring-more,
          transform $animation-fast $cubic-spring-more;
        filter: $filter-grey-light;
      }

      &:hover {
        img {
          transform: scale(1.05);
          filter: $filter-white;
        }
      }
    }
  }
}
