@import '../../../../../../../styles/shadow';
@import '../../../../../../../styles/animation';
@import '../../../../../../../styles/layout';
@import '../../../../../../../styles/color';

.container {
  position: relative;
  display: flex;

  .button {
    box-shadow: $superSoftDownShadow;
    color: $black !important;
    width: 100%;
  }


  .colorPicker {
    // width: 100% !important;
    position: absolute !important;
    top: 100%;
    border-radius: 8px;
    z-index: 100;
    box-shadow: $softDownShadow !important;
    background-color: $white;

  .closeButton{
    position: absolute;
    z-index: 1;
    right:6px;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
  }
    .alphaContainer {
      margin: 0 1rem 1rem;
      width: calc(100% - 2rem) !important;
    }
  }
}
