@import 'src/styles/page';
@import 'src/styles/font';

.content {
  @include pageContent();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    input, button {
      height: calc(#{$font-size-xxl}* 1.6);
      margin-top: 3rem;
      font-size: $font-size-xxl;
      border-width: 6px;

    }

    input {
      width: 100%;
      font-weight: 300;
      &::placeholder{
        font-weight: 600;
      }
    }

    button {
    }
  }
}
