@import '../../styles/font';
@import '../../styles/layout';
@import '../../styles/color';

.issue {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px;
  background-color: $yellow;
  font-weight: 500;
  transition: all 250ms;
  gap: 0.5rem;
  &.hidden {
    opacity: 0;
  }

  span {
    font-family: $font-family-garamond;
    font-size: 22px;
    font-style: italic;
    line-height: 1;
  }

  small {
    opacity: 0.4;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
  }
}
