@import '../../styles/shadow';
@import '../../styles/color';
@import '../../styles/font';
@import '../../styles/form';

.container {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }

  .linkButton {
    @include form-element-base();
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 4px;
    margin: 0;
    border: none;
    img {
      width: 100%;
    }
  }

  .select {
    position: absolute;
    top: 36px;
    display: flex;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-height: 250px;
    box-shadow: $softDownShadow;
    background: $white;
    border: 2px solid $black;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow-y: scroll;

    button:not(.createButton) {
      position: relative;
      border: none;
      cursor: pointer;
      text-align: left;
      font-size: $font-size-s;

      &:disabled{
        color: $grey;
      }
    }

    .createButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 2rem;
      margin-left: 6px;
      border-style: dashed;
      text-align: left;
      font-size: $font-size-s;
      span {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 1ex;
        color: $blue;
      }
    }
  }
}
