@import '../../styles/animation';
@import '../../styles/color';
@import '../../styles/icon';
@import '../../styles/layout';
@import '../../styles/font';

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: $font-size-s;
  gap: 2rem;

  button {
    width: $icon-size-m;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all $animation-fast ease-out;
    filter: $filter_grey;

    &:hover {
      filter: $filter_black;
    }
  }
}
