@import '../../../styles/layout';
@import '../../../styles/color';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: $header-height;

  .presentation {
    @include main-content-width();
    padding: 0 4rem;
  }
}
