@import '../../styles/font';
@import '../../styles/layout';
@import '../../styles/color';

.grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4rem;
  @include main-container-width();

  @include media('<=phone') {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  @include media('>phone') {
    gap: 4rem;
  }

  .articleContainer {
    &.promoted {
      @include media('>phone') {
        grid-column-end: span 2;
        height: 65vh;
      }
    }

    &:not(.promoted) {
      grid-column-end: span 1;
      max-height: 65vh;
    }
  }
}
