@import '../../styles/layout';
@import '../../styles/animation';
@import '../../styles/color';
@import '../../styles/font';

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 48px;
  padding: 0.5rem;
  transition: all $animation-fast ease-in;
  * {
    font-family: $font-family-forma;
    font-size: 18px;
  }
  @include media('>phone') {
    position: relative;
    background-color: $white;
  }

  .active {
    color: $grey !important;
    opacity: 0.6 !important;
    font-weight: 400;

    &:hover {
      border: none;
    }
  }

  .optionsContainer {
    max-width: 0;
    opacity: 0;
    transition: all $animation-fast ease-in;
    overflow: hidden;
  }

  .options {
    display: flex;
    flex-wrap: nowrap;

    @include media('<=phone') {
      flex-direction: column;
    }
  }

  &.isOpen {
    max-width: 600px;

    .optionsContainer {
      max-width: 100%;
      opacity: 1;

      @include media('<=phone') {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100vw;
        background-color: $white;
      }
    }
  }

  &:not(.isOpen) .options {
    @include media('<=phone') {
      opacity: 0;
    }
  }

  .a {
    padding: 0.3rem;
    color: $black;
    text-decoration: none;

    @include media('<=phone') {
      margin: 0 $spacing-s;
    }

    @include media('>phone') {
      margin: 0 0.5rem;
    }
  }
}
