@import 'src/styles/font';
@import 'src/styles/layout';
@import 'src/styles/color';

.article {
  padding-bottom: 1rem;
  background-color: $white;
  border-radius: 12px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 5px 10px 5px transparentize($black, 0.8);
  }

  &,
  * {
    transition: box-shadow $animation-medium linear,
      transform $animation-medium ease-in;
  }

  section:not(.image) {
    padding: 0.5rem 2rem;
  }

  section.image img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  section.articleType {
    padding-top: 2rem;
    padding-bottom: 1rem;

    button {
      margin: 0;
      border: 2px solid $black;
      border-radius: 0;
      color: $black;
    }
  }

  section.title h2 {
    font-family: $font-family-filson;
    font-size: $font-size-xl;
    font-weight: 900;
  }

  section.subHeading h3 {
    font-family: $font-family-garamond;
    font-size: $font-size-m;
    font-weight: 400;

    @include media('<=phone') {
      display: none;
    }
  }

  section.meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media('<=phone') {
      flex-direction: column-reverse;

      .tagsContainer {
        margin-top: 0;
      }
    }

    .created {
      margin-bottom: 0.5rem;
      color: $grey;
      font-size: $font-size-s;

      @include media('<=phone') {
        font-size: $font-size-xs;
      }
    }
  }
}
