@import '../../styles/color';
@import '../../styles/font';
@import '../../styles/layout';

.checkbox {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 0 0.5rem;

  input {
    margin: unset;
  }
  label {
    text-transform: none;
    color: $black;
    font-size: 1rem;
    margin-bottom: unset;
    margin-left: $spacing-m;
  }
}
