@import '../../../styles/icon';
@import '../../../styles/layout';
@import '../../../styles/color';
@import '../../../styles/font';

.controls-tabs-container {
  padding: 0 0.75rem;

  button {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 0 0.5rem 0.5rem 0;
  background-color: $white;
  border-radius: 0 8px 8px 8px;

  label:not(.checkbox-label) {
    padding-bottom: 0;
    color: $grey;
    text-transform: uppercase;
    font-size: $font-size-s;
    font-weight: 700;
  }

  select {
    width: 100%;
  }

  textarea {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid $grey-light;
    font-family: $font-family-filson;
    font-weight: 400;
  }

  .text-align-buttons {
    display: flex;
    flex-wrap: wrap;
    > * {
      padding-right: 0.5rem;
    }
  }

  .image-with-modal-button {
    margin-bottom: 1rem;
  }

  #sort-order {
    width: 3rem;
  }

  .url-container {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 0.5rem;
    button {
      position: absolute;
      right: 0;
      bottom: 1rem;
      background-color: $white;
    }

    #url {
      width: 100%;
      padding: 0.5rem 0.2rem;
      border-bottom: 2px solid $black;
      font-size: $font-size-xs;
    }
  }
  .checkbox {
    padding-left: 0.5rem;
  }

  .fixed-size-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;

    .fixed-size-checkbox {
      flex-shrink: 2;
      padding-bottom: 0;
      margin-top: 1rem;
      margin-bottom: 0;

      label {
        color: $black;
        text-transform: none;
        font-size: 14px;
      }
      input {
        height: 1.5rem;
      }
    }
  }
}

.section.controls {
  margin-left: -4px;
  border-left: 4px solid $yellow;
}

.content.controls {
  margin-left: -4px;
  border-left: 4px solid $blue-light;
}

.control-buttons.container {
  display: flex;
  margin: 0.5rem 0 1rem;
}

.control-button {
  height: $icon-size-l + 4px;
  min-width: $icon-size-l + 4px;
  padding: 0;
  margin: 0.5rem 0.5rem 1rem;
}

.orientation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .slider {
    flex-grow: 2;
    margin: 0 1rem;
  }
}
