@import '../styles/animation';
@import '../styles/layout';
@import '../styles/color';
@import '../styles/font';
@import '../styles/shadow';

.container {
  position: absolute;
  z-index: 40;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  pointer-events: none;

  > div {
    pointer-events: all;
  }

  @include media('>phone') {
    height: $header-height;
  }
  @include media('<=phone') {
    height: $mobile-header-height;
  }

  .leftContainer {
    position: absolute;
    display: flex;
    flex-direction: column;

    @include media('>phone') {
      top: 1.5rem;
      left: 3rem;
    }
    @include media('<=phone') {
      top: 1rem;
      left: 1rem;
    }

    a:after {
      display: none;
    }

    .logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;

      @include media('>phone') {
        height: 3rem;
        padding: 1rem;
      }
      @include media('<=phone') {
        height: 32px;
        padding: 0.6rem;
      }
      &:hover {
        box-shadow: $centeredShadow;
      }
    }

    .navMeta {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      box-shadow: $softCenteredShadow;
      background-color: $white;
      font-family: $font-family-forma;
      @include media('>phone') {
        height: 3rem;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 18px;
      }
      @include media('<=phone') {
        height: 32px;
        padding: 0.6rem;
        margin-top: 0.6rem;
        font-size: 14px;
      }
    }
  }
}
