@import '../styles/layout';
@import '../styles/color';
@import '../styles/font';

.container {
  position: absolute;
  display: flex;
  z-index: 40;
  justify-content: center;
  width: 100%;
  height: $header-height;

  @include media('<=phone') {
    flex-direction: row;
    flex-wrap: nowrap;
    height: $mobile-header-height;
    background-color: $grey-light;
  }
  //  border-bottom: 2px solid $black;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include media('<=phone') {
    justify-content: space-between;
  }

  @include media('>phone') {
    flex-direction: row;
    padding: 0 3rem;
  }
}

.leftContainer {
  position: relative;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 20px 2px transparentize($black, 0.9);

  @include media('<=phone') {
    max-width: 60vw;
  }

  @include media('>phone') {
    bottom: -1px;
    max-height: 3rem;
    background-color: $white;
  }
}
.navMeta {
  @include media('<=phone') {
    display: none;
  }
  @include media('>phone') {
    position: absolute;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: $white;
    font-family: $font-family-forma;
    font-size: 18px;
  }
}
