@import '../../../../../../../styles/color';

.label {
  margin-top: 1rem;
}

.imageEdit {
  position: relative;
  height: 200px;
  margin-top: 1rem;
  border: 1px solid black;
  overflow: hidden;
  * {
    height: 100%;
  }
}
