@import 'src/styles/layout';

.tagsContainer {
  display: flex;
  flex-direction: column;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .addButton {
    height: auto;
    padding: 0.2rem 0.5rem;
    margin: 0.25rem 0;
  }
}
