@import '../../../../../styles/controls';

.controls {
  @include controls();

  .imageEdit {
    position: relative;
    height: 200px;
    margin: 0.5rem 0 1rem;
    overflow: hidden;

    * {
      height: 100%;
    }
  }
}
