@import '../../../../../styles/color';
@import '../Buttons';

.container {
  @include control-buttons-container();

}

.button {
  @include control-button;
  position: relative;
  width: 64px;
  height: 64px;

  .containerSpan {
    width: 70%;
    height: 70%;
    background-color: $grey-light;
    border-radius: 4px;
  }

  .contentSpan {
    position: absolute;

    &.fit-ARTICLE {
      width: 50%;
      height: 50%;
      border: 2px dashed $grey;
    }
    &.fit-SCREEN_WIDTH {
      width: 90%;
      height: 50%;
      border: 2px dashed $grey;
    }
    &.fit-FULL_SCREEN {
      width: 90%;
      height: 90%;
      border: 2px dashed $grey;
    }
  }
}
