@import 'src/styles/icon';
@import 'src/styles/animation';
@import 'src/styles/color';

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a {
    transition: all $animation-fast ease-in-out;

    &:not(:first-child) {
      margin-left: 2rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    .white {
      @include filter-white-mixin();
    }

    .black {
      @include filter-grey-dark-mixin();
    }

    &:hover {
      filter: $filter-grey;
    }
  }
}
