@import '../../../../../styles/color';

.fixedSizeContainer {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5rem;

  .fixedSizeCheckbox {
    flex-shrink: 2;
    padding-bottom: 0;
    margin-top: 1rem;
    margin-bottom: 0;

    label {
      color: $black;
      text-transform: none;
      font-size: 14px;
    }
    input {
      height: 1.5rem;
    }
  }
}
