@import 'font';
@import 'layout';
@import 'color';

$article-border-radius: 1rem;

@mixin articleContainer($admin: false) {
  width: 100%;

  p,
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@mixin articleGrid {
  display: grid;
  align-content: center;
  grid-auto-flow: row;
  grid-template-columns:
    1fr
    repeat(4, minmax(12.5%, 190px))
    1fr;
  grid-template-rows: 1fr;
}

@mixin articleContent {
  position: relative;
  @include media('>phone') {
    @include articleGrid();
  }

  &.sponsored {
    &:before,
    &:after {
      position: absolute;
      top: 0;
      z-index: 2;
      width: 8px;
      height: 100%;
      background-color: $green-light;
      content: '';
    }

    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }

  &.type-VERTICAL {
    padding: 0.5rem;
    section{
      max-width: 100%;
    }
  }
}

@mixin articleFooter {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 1rem 4rem;
  margin-top: 2rem;
  border-top: 1px solid black;
  font-size: $font-size-s;
}

@mixin sponsoredFrame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 4px;
  height: 100%;
  background-color: $green-light;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 4px;
    height: 100%;
    background-color: $green-light;
    content: '';
  }
}
