$font-family-neue: 'neue-haas-grotesk-display';
$font-family-filson: 'filson-pro';
$font-family-garamond: 'garamond-premier-pro-caption';
$font-family-eloquent: 'eloquent-jf-pro';
$font-family-forma: 'forma-djr-deck';

$font-size-xs: 9px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 48px;
$font-size-xxxl: 72px;
$font-size-xxxxl: 96px;
$font-size-xxxxxl: 128px;
