@import 'font';
@import 'color';
@import 'layout';

@mixin form-element-base {
  background-color: transparent;
  outline: none;
  color: $black;
  font-family: filson-pro, sans-serif;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.05);
    opacity: 1;
  }
}

@mixin form-element-height {
  height: 2.2rem;
}

@mixin button-group {
  > button,
  > .button {
    margin: 0;

    &:first-child {
      border-top-right-radius: unset !important;
      border-bottom-right-radius: unset !important;
    }

    &:not(:first-child):not(:last-child) {
      margin-left: -1px;
      border-radius: unset !important;
    }

    &:last-child {
      margin-left: -1px;
      border-bottom-left-radius: unset !important;
      border-top-left-radius: unset !important;
    }
  }

  .selected {
    background-color: $black;
    color: $white;
  }
}

@mixin button {
  @include form-element-base();
  @include form-element-height();

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid $black;
  border-radius: 6px;
  outline: none;

  &.unsetStyle {
    width: unset;
    height: unset;
    padding: 0;
    margin: 0;
    border: none;
  }

  &.circle {
    border: 2px solid $black;
    border-radius: 99px;

    &:hover {
      border: 2px solid transparentize($black, 0.9) !important;
    }
  }

  &,
  * {
    transition: all $animation-super-fast ease-in;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &.toggleable:not(.selected) {
    border: 1px solid $grey;
    opacity: 0.5;
  }

  &.toggleable.selected {
    opacity: 1;
  }
}

@mixin a {
  border: none;
  border-bottom: 2px solid transparent;
  font-size: $font-size-m;
  font-weight: 400;
  white-space: nowrap;
  transition: all $animation-fast ease-in-out;

  &:hover {
    border-bottom: 2px solid $black;
  }

  &:active,
  &.active {
    background-color: transparentize($white, 0.3);
    font-weight: 700;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}
