@import 'src/styles/layout';

@mixin gridContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: $header-height;

    @include media('<=phone') {
      padding-top: 5rem;
      width: 100%;
    }
}
