@import 'src/styles/layout';

@mixin gridContainer {
  display: grid;
  @include main-container-width();

  @include media('<=phone') {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  @include media('>phone') {
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 4rem;
    column-gap: 4rem;
    row-gap: 8rem;
  }

  a {
    color: black;
    &:after {
      display: none;
    }
  }

  .articleContainer {
    @include media('>tablet') {
      height: 100%;

      &:first-child.big {
        grid-column-end: span 3;
      }

      &:not(:first-child).big {
        grid-column-end: span 2;
      }

      &:not(:first-child, .big) {
        grid-column-end: span 1;
      }
    }

    @include media('>phone', '<=tablet') {
      height: 100%;
      &.promoted {
        grid-column-end: span 2;
      }

      &:not(.promoted) {
        grid-column-end: span 1;
      }
    }

    @include media('<=phone') {
      &.promoted {
        grid-column-end: span 1;
      }

      &:not(.promoted) {
        grid-column-end: span 1;
      }
    }
  }
}
