@import 'color';
@import 'layout';
@import 'content';

@mixin imageContent {
  .container {
    position: relative;
    overflow: hidden;
    * {
      height: 100%;
    }
    .content {
      &.circle {
        clip-path: circle();
      }
    }
  }

  .noFile {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  @include media('<=phone') {
    .container {
      &.first {
        .content {
          padding: 0 !important;
        }
      }

      &:not(.first, .circle) {
        .content {
          height: 100%;
          padding: 1rem 1rem 0 !important;
        }
      }
    }
  }
}
