@import 'color';
@import 'layout';

@mixin listPage() {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  > h2,
  > h1 {
    border-bottom: 2px solid $black;
    margin: 3rem 0;
    @include media('<=phone') {
      @include main-content-width();
    }
    @include media('>phone') {
      @include main-container-width();
    }
  }

  .presentation {
    @include main-content-width();
    @include media('<=phone') {
      padding: 2rem;
    }
    @include media('>phone') {
      padding: 4rem;
    }
  }
}
