@import 'color';
@import 'layout';
@import 'font';

@mixin pageContainer {
  @include main-container-width();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $header-height $spacing-xl;
  margin: $spacing-xxl 0;
  border-radius: 1rem;

  h1 {
    width: 100%;
    border-bottom: 4px solid $black;
    font-size: $font-size-xxl;
  }

  h2{
    margin-block-start: 2rem;
  }

  h3{
    margin-block-end: 0.5rem;
  }

  p {
    font-weight: 300;
    margin-block-start: 0;
  }
}

@mixin pageContent {
  @include main-content-width();
}
