@import 'color';
@import 'layout';
@import 'shadow';

@mixin sectionContainer {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    // overflow: hidden;

    &,
    * {
      outline: none;
    }

    &.inEdit {
      box-shadow: 0 0 20px 8px transparentize($black, 0.9);
    }

    &.shadow {
      box-shadow: $softCenteredShadow;
    }

    @include media('<=phone') {
      grid-auto-rows: minmax(1rem, auto);
      grid-column-end: 2 !important;
      grid-column-start: 1 !important;
      grid-template-columns: 100vw !important;
      width: 100vw;
    }

    @include media('>phone') {
      &.height-FULL_SCREEN {
        height: 100vh;
        > * {
          max-height: 100vh;
        }
      }
    }
  }
}
