@import 'layout';

@mixin sectionFit {
  .fit-ARTICLE {
    grid-column-start: 2;
  }

  .fit-SCREEN_WIDTH,
  .fit-FULL_SCREEN {
    grid-column-end: 5;
    grid-column-start: 1;
  }

  .fit-FULL_SCREEN {
    position: relative;
    height: 100vh;
    max-height: 100vh;
  }

  @include media('<=phone') {
    &.fit_SCREEN_WIDTH,
    &.fit_FULL_SCREEN {
      grid-column-end: 4;
    }
    &.fit-FULL_SCREEN {
      height: calc(100vh - #{$mobile-header-height});
    }
  }
}
