@import 'color';
@import 'layout';
@import 'shadow';

@mixin sectionContainer {
  .container {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(1rem, auto);
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;

    &,
    * {
      outline: none;
    }

    &.height-FULL_SCREEN {
      height: 100vh;
    }

    &.inEdit {
      border: 4px solid $yellow;
    }

    &.shadow {
      box-shadow: $softCenteredShadow;
    }

    @include media('<=phone') {
      grid-auto-rows: minmax(1rem, auto);
      grid-column-end: 2 !important;
      grid-column-start: 1 !important;
      grid-template-columns: 100vw !important;
      width: 100vw;
    }
  }
}
