@import 'color';
@import 'layout';
@import 'shadow';

@mixin sectionContainer {
  .container {
    justify-content: center;
    // overflow: hidden;

    &,
    * {
      outline: none;
    }

    &.inEdit {
      box-shadow: 0 0 20px 8px transparentize($black, 0.9);
    }

    &.shadow {
      box-shadow: $softCenteredShadow;
    }

    &.height-FULL_SCREEN {
      height: 100vh;
      > * {
        max-height: 100vh;
      }
    }

    @include media('>phone') {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-fill, 1fr);
    }

    @include media('<=phone') {
      grid-area: unset !important;
      grid-row-start: unset !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      position: relative;
      &.height-FULL_SCREEN * {
        color: $black !important;
      }
    }

  }
}
