@import 'color';

$superSoftDownShadow: 0 4px 20px 2px transparentize($black, 0.90);
$softDownShadow: 0 4px 10px 2px transparentize($black, 0.8);
$downShadow: 0 4px 10px 2px transparentize($black, 0.6);
$softCenteredShadow: 0 0 20px 2px transparentize($black, 0.9);
$centeredShadow: 0 0 10px 2px transparentize($black, 0.8);
