@import 'content';
@import 'color';
@import 'animation';

@mixin textContent {
  .content {
    z-index: 20;
    width: 100%;

    &.italic {
      font-style: italic;
    }

    &.uppercase {
      text-transform: uppercase;
    }

    &.emphasize {
      text-shadow: -2px 2px 0 $black;
    }

    @at-root textarea#{&} {
      margin-bottom: 0;
    }
  }

  @include media('>phone') {
    .content {
      overflow: hidden;
    }
  }

  @include media('<=phone') {
    .content {
      grid-area: unset !important;
      grid-row-start: unset !important;
      padding: 1rem !important;
    }
    h1.content {
      margin-top: 0.5rem;
    }
  }
}
