@import 'layout';

@mixin verticalAlign {
  .vertical-align-TOP {
    @include media('<=phone') {
      justify-content: flex-start;
      justify-self: flex-start;
    }
    @include media('>phone') {
      align-items: flex-start;
      align-self: flex-start;
    }
  }
  .vertical-align-CENTER {
    @include media('<=phone') {
      justify-content: center;
      justify-self: center;
    }
    @include media('>phone') {
      align-items: center;
      align-self: center;
    }
  }
  .vertical-align-BOTTOM {
    @include media('<=phone') {
      justify-content: flex-end;
      justify-self: flex-end;
    }
    @include media('>phone') {
      align-items: flex-end;
      align-self: flex-end;
    }
  }
}
