@import 'form';
@import 'util';
@import 'color';
@import 'layout';
@import 'font';
@import 'animation';
@import 'page';

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $white;
  color: $black;
  font-family: filson-pro, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;

  > * {
    transition: transform $animation-really-fast ease-in-out,
      width $animation-really-fast ease-in-out;
  }

  transition: background-color $animation-slow ease-in-out,
    transform $animation-really-fast ease-in-out,
    width $animation-really-fast ease-in-out;

  &.showing-sidebar {
    @include app-with-sidebar-width();
    @include app-with-sidebar-transform();
  }
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
}

a {
  color: $black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  white-space: pre-wrap;
}

button,
input,
select,
textarea {
  @include form-element-base();
}

button,
input,
select {
  @include form-element-height();
}

input,
select,
textarea {
  margin: 0 0 1rem;
}

input,
select {
  border: 0;
  border-bottom: 2px solid $black;
}

input:disabled,
textarea:disabled,
select:disabled {
  opacity: 0.4;
}

textarea {
  width: 100%;
  border: none;
  overflow-y: hidden;
  resize: none;
  &::placeholder {
    color: transparentize($black, 0.8);
  }
}

input::placeholder {
  color: $grey;
  font-weight: 300;
}

.button {
  @include button();
}

.a {
  @include a();
}

@keyframes route-change-in {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes route-change-out {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.route-change-splash {
  position: fixed;
  bottom: -100vh;
  right: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: $pink;

  &.animate-in {
    animation-name: route-change-in;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-duration: $animation-slow;
  }

  &.animate-out {
    animation-name: route-change-out;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-duration: $animation-medium;
  }
}
