@import 'font';
@import 'form';

.full-width {
  width: 100%;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 1rem;
}

.font-size-s {
  &,
  * {
    font-size: $font-size-s;
  }
}

.no-scroll {
  overflow: hidden;
}

.button-group {
  @include button-group();
}
