@import 'src/styles/layout';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: $header-height;

  h1 {
    margin-top: 0;
  }

  @include media('<=phone') {
    padding-top: 5rem;
  }
}
