@import '../../styles/layout';
@import '../../styles/color';
@import '../../styles/font';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;

  > h2 {
    font-size: $font-size-xl;
  }

  > p {
    padding: 1rem 1rem 1rem;
    color: $grey;
    text-align: center;
    font-size: $font-size-l;
  }

  a {
    color: $black;
  }

  .list {
    display: grid;
    flex-wrap: wrap;

    a:after {
      display: none;
    }

    @include media('<=phone') {
      grid-auto-rows: minmax(auto, 90vh);
      grid-template-columns: 1fr;
      padding: 1rem;
      gap: 2rem;
    }

    @include media('>phone') {
      grid-auto-flow: dense;
      grid-auto-rows: minmax(1fr, 700px);
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 4rem;
      padding-bottom: 4rem;
      gap: 4rem;
    }

    @include main-container-width();
  }
}
