@import '../../styles/layout';
@import '../../styles/color';
@import '../../styles/font';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;

  > h2 {
    font-size: $font-size-xl;
  }

  > p {
    color: $grey;
    text-align: center;
    font-size: $font-size-m;
  }

  .grid{
    padding-top: 4rem;
  }
}
