@import '../../../styles/layout';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: $header-height;

  @include media('<=phone') {
    padding-top: 5rem;
  }

  .presentation {
    @include main-content-width();
    padding: 0 4rem;
  }
}
