@import '../styles/color';
@import '../styles/animation';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  a {
    position: relative;
    cursor: pointer;
    color: $black;
  }

  > * {
    z-index: 30;
  }

  .active {
    color: $pink-dark;
  }
}

.logoButton {
  height: 60px;
  width: 60px;
  max-height: 60px;
  max-width: 60px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  > span {
    max-height: 60px;
    max-width: 60px;
    transition: all 400ms ease-in-out;
  }
  &.collapsed > span {
    max-height: 30px;
    max-width: 30px;
  }

  &:hover {
    opacity: 0.4 !important;
  }
}

.leftMenu,
.rightMenu {
  position: absolute;
  display: flex;
  :not(:first-child) {
    margin-left: 3rem;
  }
  padding: 0 3rem;
}

.leftMenu {
  left: 0;
  transform: translateX(-100%);
}
.rightMenu {
  right: 0;
  transform: translateX(100%);
}
