@import '../../../../../../../styles/color';
@import '../../../../../../../styles/font';
@import '../../../../../../../styles/article';
@import '../../../../../../../styles/controlButtons';

.container {
  padding: 0.5rem 0 1rem;
  transition: all 500ms ease-in-out;
  display: grid;
  gap: 4px;
  position: relative;
}
