@import '../../../styles/animation';
@import '../../../styles/color';
@import '../../../styles/layout';
@import '../../../styles/content';
@import '../../../styles/textContent';
@import '../../../styles/contentType';
@import '../../../styles/contentEdit';
@import '../../../styles/textHorizontalAlign';
@import '../../../styles/verticalAlign';

.wrapper{
  position: relative;
}

.content {
  transition: box-shadow $animation-fast ease-in-out;
  &::selection {
    background: red;
  }
}

@include textContent();
@include contentInEdit();
@include contentType();
@include textHorizontalAlign();
@include verticalAlign();
