@import '../../styles/color';

.content {
  width: 100%;
  justify-content: center;
  display: flex;

  &.noFile {
    border: 2px dashed $grey;
    border-radius: 8px;
    color: $grey;
    font-weight: 400;
    padding: 1rem 0;
    cursor: pointer;
    height: 100%;
  }
}
