@import '../../styles/layout';
@import '../../styles/color';
@import '../../styles/font';

.tooltip {
  padding: $spacing-s !important;
  background-color: $grey-light !important;
  color: $black !important;
  font-size: $font-size-xs !important;
  transition: all 100ms ease-in-out !important;

  &:after {
    border-top-color: $grey-light !important;
  }
}
