@import '../../styles/color';

.container {
  display: flex;

  button {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $blue;
    white-space: nowrap;
  }

  .link:not(button) {
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    color: $blue;

    .linkBottomBorder {
      position: absolute;
      left: 0;
      display: block;
      width: 0;
      height: 4px;
    }
  }
}
