@import '../../../styles/font';
@import '../../../styles/layout';
@import '../../../styles/color';
@import '../../../styles/shadow';

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  max-width: 100%;
  cursor: pointer;
  transition: box-shadow $animation-medium $cubic-spring-more, transform $animation-fast linear;
  overflow-anchor: none;

  &:after {
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 50%;
    background-color: $pink-light;
    opacity: 0;
    transition: opacity $animation-medium $cubic-spring-more,
      transform $animation-medium $cubic-spring-more;
    content: '';
  }

  &:hover {
    box-shadow: $superSoftDownShadow;
    transform: scale(1.005);

    &:after {
      opacity: 1;
      transform: translateY(5%) scaleX(1.1);

    }
  }

  figure.image {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  section.text {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 101%;
    padding: 1rem;
    background-color: $white;

    h2 {
      padding: 1rem 0;
      margin-right: auto;
      margin-left: 0;
      font-weight: 800;
    }

    p {
      padding: 1rem 0;
    }

    button.articleType {
      position: absolute;
      top: -1.2rem;
      z-index: 20;
      align-self: center;
      padding: 0.5rem 1rem;
      box-shadow: $superSoftDownShadow;
      background-color: $white;
      border-radius: 0;
      color: $black !important;
    }

    .labels {
      display: flex;
      flex-wrap: wrap;
      padding-top: 1rem;
      margin-top: 4px;
      margin-left: -4px;

      span {
        padding: 0 0.5rem;
        margin-bottom: 4px;
        margin-left: 4px;
        background-color: $pink-dark;
        color: $white;
        font-size: $font-size-s;
      }

      button {
        padding: 0 0.5rem;
        margin-bottom: 4px;
        margin-left: 4px;
        background-color: $grey-lighter;
        border-radius: 0;
        font-size: $font-size-s;
        font-weight: 400;
        white-space: nowrap;
      }
    }

    .moreText {
      overflow: hidden;
    }

    .subHeading {
      font-family: $font-family-garamond;
    }

    .tags {
      padding: 1rem 0;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
