@import '../../../styles/font';
@import '../../../styles/layout';
@import '../../../styles/color';
@import '../../../styles/shadow';

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    // box-shadow: 0 0 0 1rem transparentize($pink, 0.2);
  }

  figure.image {
    overflow: hidden;
  }

  section.text {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 101%;
    padding: 1rem;
    background-color: $white;
    h2 {
      padding: 1rem 0;
      margin-right: auto;
      margin-left: 0;
      font-weight: 800;
    }

    p {
      padding: 1rem 0;
    }

    button.articleType {
      position: absolute;
      top: -1.2rem;
      z-index: 20;
      align-self: center;
      padding: 0.5rem 1rem;
      box-shadow: $superSoftDownShadow;
      background-color: $white;
      border-radius: 0;
      color: $black !important;
    }

    .moreText {
      overflow: hidden;
    }

    p.subHeading {
      font-family: $font-family-garamond;
    }

    .tags {
      padding: 1rem 0;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
