@import '../../../../../styles/color';
@import '../Buttons';
@import 'src/styles/form';
@import 'src/styles/icon';

.container {
  @include control-buttons-container();
}

.button {
  @include control-button();

  &.orientation-HORIZONTAL {
    flex-direction: row;
  }
  &.orientation-VERTICAL {
    flex-direction: column;
  }

  img {
    width: $icon-size-xs;
  }
}