@import '../styles/article';
@import '../styles/grid';

.gridContainer {
  @include gridContainer();
}

.content {
  @include articleContent();
}

.footer {
  @include articleFooter();
}

.editButton {
  @include articleEditButton();
}

@include media('<=phone') {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .footer {
      flex-direction: column;
      grid-column: 1 / span 1;
      width: 90vw;

      > * {
        justify-content: center;
        width: 100%;
        text-align: center;
        &:not(:last-child) {
          padding-bottom: 1rem;
        }
      }

      .meta {
        flex-direction: column;
        padding-bottom: 2rem;

        .created {
          padding-bottom: 1.5rem;
        }
        .tags {
          justify-content: center;
        }
      }
    }
  }

  .editButton {
    display: none !important;
  }
}
