@import '../../styles/animation';
@import '../../styles/layout';
@import '../../styles/color';
@import '../../styles/font';
@import '../../styles/shadow';

.container {
  position: fixed;
  display: flex;
  z-index: 40;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  transition: transform $animation-slow ease-in,
    background-color $animation-slow $bounce-ease-out,
    padding $animation-slow ease-in;
  pointer-events: none;

  @include media('>phone') {
    max-height: $header-height;
    padding: 1.5rem 3rem 0;

    .mobile {
      display: none;
    }

    &.collapsed {
      background-color: $white;
      transform: translateY(-1.5rem);

      .logo {
        box-shadow: none !important;
      }
    }
  }
  @include media('<=phone') {
    max-height: $mobile-header-height;
    padding: 1rem 1rem 0;

    .desktop {
      display: none;
    }

    .mobileButton{
      transition: box-shadow $animation-slow ease-in;
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    }


    &.collapsed {
      padding: 0.6rem 1rem;
      background-color: $white;
      transform: translateY(-0.3rem);

      .logo {
        box-shadow: none !important;
        transform: translateY(0.1rem);
      }

      .mobileButton{
        box-shadow: none;
      }
    }
  }

  > * {
    pointer-events: all;
    &:after {
      display: none;
    }
  }

  .logo {
    display: block;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    background-color: $white;
    transition: box-shadow $animation-slow $cubic-spring,
      transform $animation-slow ease-in;

    @include media('>phone') {
      height: 3rem;
      padding: 1rem;
    }
    @include media('<=phone') {
      height: 32px;
      padding: 0.6rem;
    }
    &:hover {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
