@import '../../styles/animation';
@import '../../styles/layout';
@import '../../styles/color';
@import '../../styles/font';
@import '../../styles/shadow';

.container {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 40;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $white;

  transition: transform $animation-slow ease-in,
    background-color $animation-slow $bounce-ease-out,
    padding $animation-slow ease-in, max-height $animation-slow ease-in-out;
  pointer-events: none;

  @include media('>phone') {
    &.isSignedIn {
      top: $admin-bar-height;
    }
  }

  @include media('>phone') {
    height: $header-height;
    max-height: $header-height;
    padding-bottom: 4px;

    .mobile {
      display: none;
    }

    &.collapsed {
      max-height: 54px;
      //transform: translateY(-1.5rem);
    }

    > * {
      pointer-events: all;

      &:after {
        display: none;
      }
    }
  }
  @include media('<=phone') {
    max-height: $header-height;
    padding: 1rem 1rem;

    .desktop {
      display: none;
    }

    &.collapsed {
      max-height: 54px;
    }

    > * {
      pointer-events: all;
      &:after {
        display: none;
      }
    }
  }
}
