@import '../../styles/font';
@import '../../styles/layout';
@import '../../styles/color';
@import '../../styles/shadow';

.sponsoredTag {
  position: absolute;
  top: -30px;
  left: -10px;
  z-index: 2;
  padding: 3px 20px;
  background-color: $green-light;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: box-shadow $animation-medium $cubic-spring-more,
    transform $animation-fast linear;
  overflow-anchor: none;

  &.sponsored {
    height: calc(100% - 10px);
    margin-top: 10px;
    border: 10px solid $green-light;
    border-radius: 2px;
  }

  @include media('>phone') {
    &.first {
      .text {
        padding-left: 4rem;
        > .title {
          font-size: 54px;
          font-weight: 500;
        }
        > .subHeading {
          //padding-left: 2rem;
        }
        > .articleType, .issue {
          left: 4rem;
          transform: translateX(0);
        }
      }
      display: grid;
      justify-content: flex-start;
      align-items: center;
      grid-template-areas: 'image text';
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: auto;
    }
  }

  .figure {
    position: relative;
    grid-area: image;
    width: 100%;
    height: 100%;
    min-height: 40vh;
    overflow: hidden;

    @include media('>phone') {
      min-height: 60vh;
    }
  }

  .text {
    position: relative;
    display: flex;
    justify-content: flex-start;
    @include media('<=phone') {
      justify-content: flex-start;
      align-items: center;
    }
    @include media('>phone') {
      align-items: flex-start;
    }
    flex-direction: column;
    padding: 1.5rem 0.5rem 3rem;
    background-color: $white;
    gap: 1rem;

    .issue {
      position: absolute;
      top: -2.5rem;
      left: 50%;
      z-index: 20;
      //box-shadow: $superSoftDownShadow;
      border-radius: 0;
      transform: translateX(-50%);
      * {
        white-space: nowrap;
      }
    }

    .articleType {
      position: absolute;
      top: -1.2rem;
      left: 50%;
      z-index: 20;
      padding: 0.5rem 1rem;
      box-shadow: $superSoftDownShadow;
      background-color: $white;
      border-radius: 0;
      color: $black !important;
      transform: translateX(-50%);
    }

    .title {
      padding: 1rem 0 0;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2;
    }

    .subHeading {
      grid-area: sub-heading;
    }

    .labels {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      grid-area: labels;
      margin-top: 4px;
      margin-left: -4px;

      span {
        height: 18px;
        padding: 0 0.5rem;
        margin-bottom: 4px;
        margin-left: 4px;
        background-color: $pink-dark;
        color: $white;
        font-size: $font-size-s;
      }

      button {
        height: 18px;
        padding: 0 0.5rem;
        margin-bottom: 4px;
        margin-left: 4px;
        background-color: $grey-lighter;
        border-radius: 0;
        font-size: $font-size-s;
        font-weight: 400;
        white-space: nowrap;
      }
    }

    .moreText {
      overflow: hidden;
    }

    .subHeading {
      font-size: 18px;
      font-weight: 500;
    }

    .tags {
      padding: 1rem 0;
    }

    @include media('<=phone') {
      padding-bottom: 5rem;
      text-align: center;
      .title {
        font-size: 28px;
      }

      .subHeading {
        font-size: 18px;
      }
    }
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
