@import '../font';
@import '../layout';
@import '../color';
@import 'article.variables';

@include media('<=phone') {
  .article.container {
    width: 100%;
  }

  .content.article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;

    .footer {
      grid-column: 1 / span 1;
      width: 90vw;

      .meta {
        display: none;
      }
    }
  }

  .edit-button {
    display: none !important;
  }
}
