@import '../font';
@import '../color';
@import '../layout';
@import 'article.variables';

.section.container.fit-ARTICLE {
  grid-column-start: 2;
}

.section.container.fit-SCREEN_WIDTH,
.section.container.fit-FULL_SCREEN {
  grid-column-end: 5;
  grid-column-start: 1;
}

.section.container.fit-FULL_SCREEN {
  position: relative;

  &:not(.preview) {
    height: 100vh;
    max-height: 100vh;
  }
  &.preview {
    height: 100%;
    max-height: 100%;
  }
}
