.text.horizontal-align-LEFT {
  text-align: left;
}
.text.horizontal-align-CENTER {
  text-align: center;
}
.text.horizontal-align-RIGHT {
  text-align: right;
}

.image.container {
  &.horizontal-align-LEFT {
    justify-content: flex-start;
  }
  &.horizontal-align-CENTER {
    justify-content: center;
  }
  &.horizontal-align-RIGHT {
    justify-content: flex-end;
  }
}
