@import '../color';

.section.container > .content.text {
  z-index: 20;

  &.italic {
    font-style: italic;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.emphasize {
    text-shadow: -2px 2px 0 $black;
  }
}
