@import '../font';
@import '../color';
@import '../layout';
@import 'article.variables';

/************************
 SECTION CONTAINER 
 ************************/
.section.container {
  display: grid;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(1rem, auto);
  overflow: hidden;

  &,
  * {
    outline: none;
  }

  &.in-edit {
    border: 4px solid $yellow;
  }

  .content {
    overflow: hidden;
  }

  .content.in-edit {
    border: 4px dashed $blue-light;
    outline: 0;
  }
}
