@import '../../../styles/color';
@import '../../../styles/layout';
@import '../../../styles/content';
@import '../../../styles/textContent';
@import '../../../styles/contentType';
@import '../../../styles/horizontalAlign';
@import '../../../styles/verticalAlign';

@include horizontalAlign();
@include verticalAlign();

.content {
  display: flex;

  @include media('<=phone') {
    grid-area: unset !important;
    grid-row-start: unset !important;
    padding: 1rem 0;
  }
}
