@import '../../../../../../../styles/icon';
@import '../../../../../../../styles/font';
@import '../../../../../../../styles/shadow';
@import '../../../../../../../styles/animation';

.container {
  padding: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: $softCenteredShadow;
  border-radius: 8px;
}

.inArticleContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  font-size: $font-size-s;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    border: 0;
    gap: 1rem;

    figure {
      display: flex;
      align-items: center;
      width: $icon-size-l;
      height: $icon-size-l;
      img {
        object-fit: contain;
      }
    }

    button {
      height: auto;
      border: none;
      img {
        transition: opacity $animation-medium ease-in;
      }
    }

    .removeButton {
      margin: 0 0 0 auto;

      img {
        width: $icon-size-xs;
      }
    }

    a {
      border-bottom: 1px solid transparent;
      color: $black;
      font-weight: 900;
      transition: border-bottom-color $animation-fast ease-in-out;

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
}
