@import '../../../../../../styles/controlButtons';
@import '../../../../../../styles/form';
@import '../../../../../../styles/icon';

.container {
  display: flex;
  @include button-group();
}

.button {
  @include control-button();
  img {
    width: $icon-size-s;
  }
}

.emphasize {
  padding: 0 0.5rem;
}
