@import '../../styles/color';

.container {
  display: flex !important;
  align-items: center !important;
  background-color: $blue !important;

  a {
    color: $white;
    font-weight: 700;
  }

  .accept {
    background-color: transparent !important;
    border: 2px solid $white !important;
    color: $white !important;
  }
  .decline {
    background-color: transparent !important;
    border: 2px solid $pink !important;
    color: $pink !important;
  }
}
