@import '../../../../../styles/color';
@import '../Buttons';
@import 'src/styles/form';

.container {
  @include control-buttons-container();
}

.button {
  @include control-button();
  display: grid;
  grid-template-rows: 1fr;
  width: 64px;
  height: 64px;
  padding: 0;
  overflow: hidden;
  gap: 4px;
}

.texts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 4px 0;
  position: relative;

  .text {
    width: 100%;
    background-color: $grey;
    border: 2px solid $white;
    &:first-child {
      height: 1rem;
    }
    &:not(:first-child) {
      height: 0.5rem;
    }
  }
}

.image {
  filter: $filter-grey;
}

.section-preset-INLINE_IMAGE_TITLE_SUB_BYLINE {
  grid-template-columns: 12px 40px 12px;
  grid-template-rows: 3fr 1fr;

  &.texts,
  .image {
    grid-column: 2;
  }
  &.texts {
    grid-row: 1;
  }
  &.image {
    grid-row: 2;
  }
}
.section-preset-FULL_SCREEN_IMAGE_TITLE_SUB_BYLINE {
  grid-template-columns: 12px 40px 12px;
  grid-template-rows: 1fr;

  &.texts {
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
  }

  &.image {
    align-self: center;
    grid-column-end: span 3;
    grid-column-start: 1;
    grid-row: 1;
    justify-self: center;
  }
}
.section-preset-HALF_SCREEN_IMAGE_TITLE_SUB_BYLINE {
  grid-template-columns: 32px 32px;

  &.texts {
    position: relative;
    right: 4px;
    justify-content: center;
    grid-column: 2;
    padding: 2px;
  }
  &.image {
    grid-column: 1;
    height: 100%;
  }
}
